@model Cumulative01.Models.Teacher;

<h1>Teacher Id:</h1><em>@Model.TeacherId</em>></h1> 
<p>Teacher First-Name:<em>@Model.TeacherFName</em>></p>
<p>Teacher Last-Name:<em>@Model.TeacherLName</em>></p>
<p>Teacher employee-Id:<em>@Model.EmployeeID</em>></p>
<p>Hiring Date<em>@Model.HireDate</em>></p>
<p>Salary:<em>@Model.Salary</em></p>
